<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fxtahe.fxblog.mapper.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fxtahe.fxblog.entity.Article">
        <id column="id" property="id" />
        <result column="author_id" property="authorId" />
        <result column="title" property="title" />
        <result column="excerpt" property="excerpt" />
        <result column="content" property="content" />
        <result column="markdown" property="markdown" />
        <result column="likes" property="likes"/>
        <result column="views" property="views"/>
        <result column="feature" property="feature" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
        <result column="state" property="state" />
    </resultMap>
    <resultMap id="ArticleVoResultMap" extends="BaseResultMap" type="com.fxtahe.fxblog.vo.ArticleVo">
        <association property="author" javaType="com.fxtahe.fxblog.entity.Author">
            <id property="id" column="author_id"/>
            <result property="authorName" column="author_name"/>
        </association>
        <association property="category" javaType="com.fxtahe.fxblog.entity.Category">
            <id property="id" column="category_id"/>
            <result property="categoryName" column="category_name"/>
        </association>
        <collection property="tags" ofType="com.fxtahe.fxblog.entity.Tag">
            <id property="id" column="tag_id"/>
            <result property="tagName" column="tag_name"/>
        </collection>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, author_id, title, excerpt, content, markdown, likes, views, create_date, update_date, status, category_id
    </sql>

    <select id="selectPage" resultMap="BaseResultMap">
        SELECT id, author_id, title, excerpt, markdown, likes, views, create_date, update_date, status, category_id FROM article WHERE state=#{state}
    </select>

    <select id="selectFeatureArticles" resultMap="ArticleVoResultMap">
        select a.*,t.id as tag_id,author.author_name,t.tag_name,c.id as category_id,c.category_name
        from article a
        LEFT JOIN author on a.author_id = author.id
        LEFT JOIN relationship r on a.id=r.article_id
        LEFT JOIN tag t on t.id = r.r_id and r.r_type='tag'
        LEFT JOIN category c on c.id = r.r_id and r.r_type = 'category'
        where a.state = '2'
    </select>
</mapper>
