<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fxtahe.fxblog.mapper.AuthorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fxtahe.fxblog.entity.Author">
        <id column="id" property="id" />
        <result column="author_name" property="authorName" />
        <result column="login_name" property="loginName" />
        <result column="password" property="password" />
        <result column="avatar" property="avatar" />
        <result column="github" property="github" />
        <result column="email" property="email" />
        <result column="introduction" property="introduction" />
    </resultMap>
    <resultMap id="VoResultMap" type="com.fxtahe.fxblog.vo.AuthorVo" extends="BaseResultMap">
        <collection property="categories" column="id" ofType="com.fxtahe.fxblog.entity.Category" select="selectAuthorRelCategories" />
        <collection property="tags" column="id" ofType="com.fxtahe.fxblog.entity.Tag" select="selectAuthorRelTags" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, author_name, avatar, github, email, introduction
    </sql>

    <select id="selectAuthorVos" resultMap="VoResultMap">
        select a.* from author a
        JOIN author_role b
        JOIN role c
        on a.id = b.aid AND b.rid = c.id and c.role = 'author'
    </select>

    <select id="selectAuthorRelCategories" resultMap="com.fxtahe.fxblog.mapper.CategoryMapper.BaseResultMap">
        select * from category where author_id = #{id}
    </select>

    <select id="selectAuthorRelTags" resultMap="com.fxtahe.fxblog.mapper.TagMapper.BaseResultMap">
        select * from tag where author_id = #{id}
    </select>
</mapper>
