<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fxtahe.fxblog.mapper.TagRelationshipMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fxtahe.fxblog.entity.TagRelationship">
        <id column="id" property="id" />
        <result column="tag_id" property="tagId" />
        <result column="article_id" property="articleId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, tag_id, article_id
    </sql>

</mapper>
